WMS.csv
50



C:\\Users\\ehcre\\.vscode\\projects\\CSE210\\CSE210-TR\\final\\FinalProject\\WMS_V2\\WMS.csv
C:\\Users\\ehcre\\.vscode\\projects\\MyProjects\\WMS.csv
C:\\Users\\ehcre\\.vscode\\projects\\MyProjects\\WMSSmall.csv

===
Directions:
===
* Line 1: Path to CSV file with surges
Use \\ for slashes, otherwise it will not interpret the literal characters
CSV must be formatted as Type,Severity,Description. 
Type must be a capital char [B,V,H] for Beneficial, Variable, or Harmful
Severity must be a one digit int [1,2,3,4] with 1 being small effect, and 4 being huge changes
Descriptions can include dice rolls formatted as #d#, but for now, only the first dice set will actually be rolled

* Line 2: number of surges that need to happen before any surge is allowed to be triggered again
! If this number is = or less than the number of surges in the file, the program will crash
# If you get a bunch of "No surges found" results, try reducing this number
